@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-background-transparent: var(--background-transparent);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-constructive: var(--constructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-card-highlighted: var(--card-highlighted);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* nodes  */
  --color-number-input: var(--number-input);
  --color-boolean-input: var(--boolean-input);
  --color-vector-input: var(--vector-input);
  --color-linestring-input: var(--linestring-input);
  --color-mesh-input: var(--mesh-input);
  --color-geometry-input: var(--background);
  --color-transform-input: var(--transform-input);
  --hue-number-input: 0;
  --hue-boolean-input: 57;
  --hue-vector-input: 103;
  --hue-linestring-input: 270;
  --hue-mesh-input: 222;
  --hue-transform-input: 180;

  --sat-light-inputs: 50%;
  --sat-dark-inputs: 90%;

  --ltns-light-inputs: 52.9%;
  --ltns-dark-inputs: 30%;
}

@layer base {
  :root {
    --background: hsl(0 0% 100%);
    --background-transparent: hsla(0, 0%, 100%, 0.8);
    --foreground: hsl(222.2 84% 4.9%);
    --muted: hsl(210 40% 96.1%);
    --muted-foreground: hsl(215.4 16.3% 46.9%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(222.2 84% 4.9%);
    --card: hsl(0 0% 100%);
    --card-highlighted: hsl(223, 16%, 83%);
    --card-foreground: hsl(180, 1%, 14%);
    --border: hsl(214.3 31.8% 91.4%);
    --input: hsl(214.3 31.8% 91.4%);
    --primary: hsl(0, 1%, 15%);
    --primary-foreground: hsl(210, 6%, 87%);
    --secondary: hsl(240, 1%, 17%);
    --secondary-foreground: hsl(240, 2%, 18%);
    --accent: hsl(210 40% 96.1%);
    --accent-foreground: hsl(222.2 47.4% 11.2%);
    --destructive: hsl(0 92.99% 56.11%);
    --constructive: hsl(135, 100%, 23%);
    --destructive-foreground: hsl(210 40% 98%);
    --ring: hsl(220.67 97.83% 36.08%);
    --chart-1: hsl(220.47 98.26% 36.08%);
    --chart-2: hsl(210 40% 96.1%);
    --chart-3: hsl(210 40% 96.1%);
    --chart-4: hsl(210 40% 99.1%);
    --chart-5: hsl(220.47 101.26% 36.08%);
    --radius: 0.5rem;

    /* nodes  */
    --number-input: hsl(
      var(--hue-number-input) var(--sat-light-inputs) var(--ltns-light-inputs)
    );
    --boolean-input: hsl(
      var(--hue-boolean-input) var(--sat-light-inputs) var(--ltns-light-inputs)
    );
    --vector-input: hsl(
      var(--hue-vector-input) var(--sat-light-inputs) var(--ltns-light-inputs)
    );
    --linestring-input: hsl(
      var(--hue-linestring-input) var(--sat-light-inputs)
        var(--ltns-light-inputs)
    );
    --mesh-input: hsl(
      var(--hue-mesh-input) var(--sat-light-inputs) var(--ltns-light-inputs)
    );
    --transform-input: hsl(
      var(--hue-transform-input) var(--sat-light-inputs)
        var(--ltns-light-inputs)
    );
  }

  .dark {
    --background: hsl(240, 2%, 2%);
    --background-transparent: hsla(240, 2%, 9%, 0.8);
    --foreground: hsl(230, 7%, 82%);
    --muted: hsl(240, 8%, 9%);
    --muted-foreground: hsl(240, 3%, 60%);
    --popover: hsl(240, 5%, 5%);
    --popover-foreground: hsl(235, 5%, 55%);
    --card: hsl(240, 3%, 12%);
    --card-highlighted: hsl(240, 4%, 18%);
    --card-foreground: hsl(229, 11%, 80%);
    --border: hsl(240, 2%, 18%);
    --input: hsl(240, 1%, 14%);
    --primary: hsl(0 0% 82.75%);
    --primary-foreground: hsl(0 0% 20%);
    --secondary: hsl(223, 14%, 90%);
    --secondary-foreground: hsl(240, 2%, 46%);
    --accent: hsl(220, 5%, 5%);
    --accent-foreground: hsl(0 0% 82.75%);
    --destructive: hsl(1.58 47.5% 52.94%);
    --constructive: hsl(135, 66%, 36%);
    --destructive-foreground: hsl(210 40% 98.04%);
    --ring: hsl(226, 23%, 89%);
    --chart-1: hsl(0 0% 82.75%);
    --chart-2: hsl(225.45 71.22% 72.75%);
    --chart-3: hsl(234.55 17.83% 9.47%);
    --chart-4: hsl(225.45 71.22% 75.75%);
    --chart-5: hsl(0 3% 82.75%);

    /* nodes  */
    --number-input: hsl(
      var(--hue-number-input) var(--sat-dark-inputs) var(--ltns-dark-inputs)
    );
    --boolean-input: hsl(
      var(--hue-boolean-input) var(--sat-dark-inputs) var(--ltns-dark-inputs)
    );
    --vector-input: hsl(
      var(--hue-vector-input) var(--sat-dark-inputs) var(--ltns-dark-inputs)
    );
    --linestring-input: hsl(
      var(--hue-linestring-input) var(--sat-dark-inputs) var(--ltns-dark-inputs)
    );
    --mesh-input: hsl(
      var(--hue-mesh-input) var(--sat-dark-inputs) var(--ltns-dark-inputs)
    );
    --transform-input: hsl(
      var(--hue-transform-input) var(--sat-dark-inputs) var(--ltns-dark-inputs)
    );
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
